[submodule "themes/hugo-theme"]
	path = themes/hugo-theme
	url = git@github.com:sebousan/hugo-theme
[submodule "themes/hugo-theme/static/admin"]
	path = themes/hugo-theme/static/admin
	url = git@github.com:sebousan/hugo-netlify-cms-template
